openapi: 3.0.0
info:
    title: Resume API
    description: Resume API [ivanfshz.github.io](https://ivanfshz.github.io).
    contact:
        name: Ivan Flores
        url: https://ivanfshz.github.io
        email: ivanfshz@gmail.com
    version: "0.1.9"
servers:
    - url: https://api.ivanfshz.io/{version}/resume
tags:
    - name: resume
paths:
    /:
        get:
            tags:
                - resume
            summary: GET - Resume - PDF | HTML | TXT..
            description: returns a resume in the requested format.
            operationId: getByFormat.
            parameters:
                - name: format
                  in: query
                  description: format file.
                  required: true
                  style: form
                  explode: true
                  schema:
                      $ref: "#/components/schemas/Format"
            responses:
                200:
                    description: response resume resource in a format.
                    headers: {}
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Resume"
                400:
                    description: Bad request
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                401:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                404:
                    description: Not found
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                503:
                    description: Unauthorized
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
                default:
                    description: Unexpected error
                    content:
                        application/json:
                            schema:
                                $ref: "#/components/schemas/Error"
            deprecated: false
components:
    schemas:
        Resume:
            title: Resume
            type: object
            properties:
                name:
                    type: string
                email:
                    type: string
                mobile:
                    type: string
                location:
                    type: string
                site:
                    type: string
                summary:
                    type: string
                workExperience:
                    $ref: "#/components/schemas/WorkExperience"
                educaton:
                    type: array
                    items:
                        $ref: "#/components/schemas/Educaton"
                    description: educational history
                languages:
                    type: array
                    items:
                    $ref: "#/components/schemas/Lenguage"
                    description: spoken languages
                courses:
                    type: array
                    items:
                    $ref: "#/components/schemas/Course"
                    description: courses, traning or certifications
                technologies:
                    type: array
                    items:
                    $ref: "#/components/schemas/Technology"
                    description: most common technologies I used to interact to.
                skills:
                    type: array
                    items:
                    $ref: "#/components/schemas/Skill"
                    description: soft skills? I also know how to cook ;)
        WorkExperience:
            title: WorkExperience
            type: object
            properties:
                experiences:
                    type: array
                    items:
                        $ref: "#/components/schemas/Experience"
                    description: ""
        Experience:
            title: Experience
            type: object
            properties:
                period:
                    $ref: "#/components/schemas/Period"
                title:
                    type: string
                description:
                    type: string
                location:
                    $ref: "#/components/schemas/Location"
                milestones:
                    type: array
                    items:
                        $ref: "#/components/schemas/Milestone"
                    description: ""
        Period:
            title: Period
            type: object
            properties:
                startDate:
                    type: string
                    format: date
                endDate:
                    type: string
                    format: date
                isPresent:
                    type: boolean
        Location:
            title: Location
            type: object
            properties:
                city:
                    type: string
                country:
                    type: string
        Milestone:
            title: Milestone
            type: object
            properties:
                description:
                    type: string
        Education:
            title: Education
            type: object
            properties:
                title:
                    type: string
                institution:
                    type: string
                period:
                    $ref: "#/components/schemas/Period"
                location:
                    $ref: "#/components/schemas/Location"
        Language:
            title: Language
            type: object
            properties:
                name:
                    type: string
                languageLevel:
                    $ref: "#/components/schemas/LangugeLevel"
        Course:
            title: Course
            type: object
            properties:
                name:
                    type: string
                year:
                    type: string
                hasCertification:
                    type: boolean
                status:
                    $ref: "#/components/schemas/Status"
                institution:
                    type: string
        Tech:
            title: Tech
            type: object
            properties:
                type:
                    $ref: "#/components/schemas/Type"
                name:
                    type: string
                techLevel:
                    $ref: "#/components/schemas/TechnicalLevel"
        Skill:
            title: Skill
            type: object
            properties:
                name:
                    type: string
        LangugeLevel:
            title: LangugeLevel
            enum:
                - basic
                - good_command
                - five_stars
                - native_speaker
            type: string
        TechnicalLevel:
            title: TechnicalLevel
            enum:
                - mhe
                - so_so
                - five_stars
                - like_a_big_boss_bud
            type: string
        Status:
            title: Status
            enum:
                - completed
                - in_progress
                - suspended
                - incompleted
            type: string
        Type:
            title: Type
            enum:
                - backend
                - frontend
                - cloud
                - db
            type: string
        Error:
            title: Error
            type: object
            properties:
                message:
                    type: string
                code:
                    type: string
        Format:
            title: Format
            enum:
                - json
                - pdf
                - html
                - txt
            type: string
