swagger: "2.0"
info:
    version: 0.1.9
    title: Resume API
    description: "Resume API [ivanfshz.github.io](https://ivanfshz.github.io)."
    contact:
        {
            name: "Ivan Flores",
            url: "https://ivanfshz.github.io",
            email: "ivanfshz@gmail.com",
        }
host: api.ivanfshz.io
basePath: /{version}/resume
schemes:
    - https
consumes:
    - application/json
produces:
    - application/json
    - application/pdf
    - text/html
tags:
    - name: resume
paths:
    /:
        get:
            description: returns a resume in the requested format.
            summary: GET - Resume - PDF | HTML | TXT.
            tags:
                - resume
            operationId: returnsaresumeintherequestedformat.
            deprecated: false
            produces:
                - application/json
                - application/pdf
                - text/html
            parameters:
                - name: format
                  in: query
                  required: true
                  enum:
                      - json
                      - pdf
                      - html
                      - txt
                  type: string
                  description: format file.
            responses:
                "200":
                    description: response resume resource in a format.
                    schema:
                        $ref: "#/definitions/Resume"
                    examples:
                        application/json:
                            name: Ivan Flores
                            email: ivanfshz@gmail.com
                            mobile: 412-510-4815
                            location: "Pittsburgh, PA"
                            site: "https://ivanfshz.github.io"
                            summary: "Software engineer with over 9 years of experience implementing the full software development lifecycle of web-based applications. Focused on best practices, high standards, and user-oriented processes with a high knowledge of various results-oriented & cost effective methodologies and strategies."
                            workExperience:
                                experiences:
                                    - company: S|ngular
                                      title: Software Developer Sr
                                      period:
                                          endDate: null
                                          startDate: 10-2018
                                          isPresent: true
                                      location:
                                          city: Pittsburgh
                                          country: USA
                                      milestones:
                                          - highlight: Define strategies to implement solutions based on microservices architecture with Restful API implemented with Java 8 and Spring Boot
                                          - highlight: "Implement more recent technologies to improve performance such as Kafka, MongoDB, Docker and OpenShift"
                                          - highlight: Define plans and strategies to promote software on time according to deadlines based on Agile frameworks
                                          - highlight: Ensure the quality of code by implementing Unit and Integration tests with Spock
                                          - highlight: Help to define workflows and reference models to promote deliveries involving best practices and quality by implementing technical solutions focused on customer experience
                                    - company: Globant MX
                                      title: Software Developer Sr
                                      period:
                                          endDate: 11-2018
                                          startDate: 11-2017
                                          isPresent: false
                                      location:
                                          city: México City
                                          country: MEX
                                      milestones:
                                          - highlight: "Worked closely with DevOps experts to migrate and set up multi-platform components to CaaS cloud services with Docker, Kubernetes and Azure"
                                          - highlight: "Defined workflows guidelines for CI & CD that involved integrations with Maven, GitHub, Docker Registry, Jenkins & VSTS and JUnit Testing stages."
                                          - highlight: Migrated legacy Java applications from version 1.6 to 1.8 version while ensuring a scalability and enhancements of services.
                                          - highlight: "Identified and solved technical debt by measuring  the quality of code, tests focus on stability and quality by Implementing Spock and SonarQube and 2to2 reviews"
                                    - company: HSBC México
                                      title: Software Developer
                                      period:
                                          endDate: 11-2017
                                          startDate: 08-2014
                                          isPresent: false
                                      location:
                                          city: México City
                                          country: MEX
                                      milestones:
                                          - highlight: Collaborated with one of the company’s first globally piloted teams by implementing agile and DevOps methodologies to promote software efficiently and effectively
                                          - highlight: First scrum team to reach the highest agile maturity level in LATAM; third globally.
                                          - highlight: Reduced 70% of the license expenses by migrating the platform to open source technologies.
                                          - highlight: Collaborated with ALM teams to define the guidelines of the early DevOps methodology.
                                          - highlight: First LATAM team to automated deliveries to promote faster and safer software to production every 2 weeks involving best practices and quality standards.
                                education:
                                    - title: B.E. Computer Engineering
                                      institution: UNAM MX
                                      period:
                                          startDate: 08-2008
                                          endDate: 06-2012
                                          isPresent: false
                                      location:
                                          city: México City
                                          country: MEX
                                    - title: "Postgraduate diploma in Java Oriented to Web Applications Development "
                                      institution: UNAM MX
                                      period:
                                          endDate: 11-2016
                                          startDate: 04-2016
                                          isPresent: false
                                      location:
                                          city: México City
                                          country: MEX
                                languages:
                                    - name: spanish
                                      languageLevel: native_speaker
                                    - name: english
                                      languageLevel: five_stars
                                courses:
                                    - name: Oracle Java SE 8 Programmer l
                                      year: "2020"
                                      status: in_progress
                                      institution: Oracle
                                      certification: null
                                    - name: Professional Scrum Master
                                      year: "2016"
                                      status: completed
                                      institution: scrum.org
                                      certification: "https://www.scrum.org/user/197077"
                                technologies:
                                    - name: java
                                      type: backend
                                      level: five_stars
                                    - name: spring
                                      type: backend
                                      techLevel: five_stars
                                    - name: javascript
                                      type: frontend
                                      techLevel: five_stars
                                    - name: junit
                                      type: backend
                                      techLevel: like_a_big_boss_bud
                                    - name: docker
                                      type: devOps
                                      techLevel: so_so
                                    - name: git
                                      type: devOps
                                      techLevel: five_stars
                                    - name: jenkins
                                      type: devOps
                                      techLevel: five_stars
                                    - name: mongodb
                                      type: db
                                      techLevel: so_so
                                    - name: openshift
                                      type: cloud
                                      techLevel: so_so
                                    - name: angular
                                      type: frontend
                                      techLevel: so_so
                                skills:
                                    - name: agile
                                    - name: devops
                                    - name: microservices
                                    - name: bdd
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary
                "400":
                    description: Bad request
                    schema:
                        $ref: "#/definitions/Error"
                    examples:
                        application/json:
                            - code: 400
                            - message: Bad request. Please try again api.ivanfshz.io/resume
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary
                "401":
                    description: Unauthorized
                    schema:
                        $ref: "#/definitions/Error"
                    examples:
                        application/json:
                            - code: 401
                            - message: Of course, you are kindly NOT welcome here :). Ask for permission.
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary
                "404":
                    description: Not found
                    schema:
                        $ref: "#/definitions/Error"
                    examples:
                        application/json:
                            - code: 400
                            - message: Not Found. Please try again api.ivanfshz.io/resume
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary

                "503":
                    description: Unauthorized
                    schema:
                        $ref: "#/definitions/Error"
                    examples:
                        application/json:
                            - code: 503
                            - message: Ooops! It's just restarting, go and grab a coffe, come back and try again.
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary
                default:
                    description: Unexpected error
                    schema:
                        $ref: "#/definitions/Error"
                    examples:
                        application/json:
                            - code: 666
                            - message: We are doing some stuff :). Try again later.
                        application/pdf:
                            schema:
                                type: string
                                format: binary
                        text/html:
                            schema:
                                type: string
                                format: binary
definitions:
    Resume:
        title: Resume
        type: object
        properties:
            name:
                type: string
            email:
                type: string
            mobile:
                type: string
            location:
                type: string
            site:
                type: string
            summary:
                type: string
            workExperience:
                $ref: "#/definitions/WorkExperience"
            education:
                type: array
                description: educational history
                items:
                    $ref: "#/definitions/Education"
            languages:
                type: array
                description: spoken languages
                items:
                    $ref: "#/definitions/Language"
            courses:
                type: array
                description: courses, traning or certifications
                items:
                    $ref: "#/definitions/Course"
            technologies:
                type: array
                description: most common technologies I used to interact to.
                items:
                    $ref: "#/definitions/Tech"
            skills:
                type: array
                description: soft skills? I also know how to cook ;)
                items:
                    $ref: "#/definitions/Skill"
    WorkExperience:
        title: WorkExperience
        description: previous work experiences
        type: object
        properties:
            experiences:
                type: array
                items:
                    $ref: "#/definitions/Experience"
    Experience:
        title: Experience
        type: object
        properties:
            period:
                $ref: "#/definitions/Period"
            title:
                type: string
            description:
                type: string
            location:
                $ref: "#/definitions/Location"
            milestones:
                type: array
                items:
                    $ref: "#/definitions/Milestone"
    Period:
        title: Period
        type: object
        properties:
            startDate:
                type: string
                format: date
            endDate:
                type: string
                format: date
            isPresent:
                type: boolean
    Location:
        title: Location
        type: object
        properties:
            city:
                type: string
            country:
                type: string
    Milestone:
        title: Milestone
        type: object
        properties:
            description:
                type: string
    Education:
        title: Education
        type: object
        properties:
            title:
                type: string
            institution:
                type: string
            period:
                $ref: "#/definitions/Period"
            location:
                $ref: "#/definitions/Location"
    Language:
        title: Language
        type: object
        properties:
            name:
                type: string
            languageLevel:
                $ref: "#/definitions/LanguageLevel"
    Course:
        title: Course
        type: object
        properties:
            name:
                type: string
            year:
                type: string
            hasCertification:
                type: boolean
            status:
                $ref: "#/definitions/Status"
            institution:
                type: string
    Tech:
        title: Tech
        type: object
        properties:
            type:
                $ref: "#/definitions/Type"
            name:
                type: string
            techLevel:
                $ref: "#/definitions/TechLevel"
    Skill:
        title: Skill
        type: object
        properties:
            name:
                type: string
    LanguageLevel:
        title: Languge Level
        type: string
        enum:
            - basic
            - good_command
            - five_stars
            - native_speaker
    TechLevel:
        title: Technical Level
        type: string
        enum:
            - mhe
            - so_so
            - five_stars
            - like_a_big_boss_bud
    Status:
        title: Status
        type: string
        enum:
            - completed
            - in_progress
            - suspended
            - incompleted
    Type:
        title: Type
        type: string
        enum:
            - backend
            - frontend
            - cloud
            - db
    Error:
        properties:
            message:
                type: string
            code:
                type: string
